<p id="notice"><%= notice %></p>
<% provide(:title, capitalize_search) %>

<div class="products-wrapper">
  <div class="query-wrapper">
    <h1><%= capitalize_search %></h1>
  </div>
  <% main_search.each_with_index do |item, idx| %>
    <div id="item">
      <p><%= item[:name] %></p>
      <span class="price">$<%= item[:price] %></span>
      <% if item[:msrp] %>
        <span class="msrp">$<%= item[:msrp] %></span>
      <% end %>
      <span class="id"><%= item[:id] %></span>
      <div class="item-image">
        <%= image_tag item[:image] %>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to 'New Product', new_product_path %>
</div>
